<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<div th:fragment="footer">
		<!-- Comienzo del Footer -->
		<footer class="text-center text-lg-start  footer-fondo-estilo-1">

			<section
				class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
				<!-- Parte izquierda -->
				<div class="me-5 d-none d-lg-block text-light">
					<span>Nuestras redes sociales</span>
				</div>

				<!-- Parte derecha -->
				<!-- redes sociales -->
				<div class="">
					<a href="" class="me-4 link-secondary"> <i
						class="fab fa-facebook-f text-light"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-twitter text-light"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-google text-light"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-instagram text-light"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-linkedin text-light"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-github text-light"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Fin redes sociales -->


			<section class="text-light">
				<div class="container text-center text-md-start mt-3">

					<div class="row mt-3">

						<!-- Primer columna -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

							<!-- Inicio Usuarios -->
							<div>
								<h6 class="text-uppercase fw-bold mb-4">Usuarios</h6>
								<p>
									<a href="#!" class="text-reset">Inicio</a>
								</p>
								<p>
									<a href="#!" class="text-reset">Registrarse</a>
								</p>
								<p>
									<a href="#!" class="text-reset">Login</a>
								</p>
							</div>

							<!-- Fin Usuarios -->

						</div>

						<!-- Segunda columna -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Inicio Testimonios -->

							<div>
								<h6 class="text-uppercase fw-bold mb-4">testimonios</h6>
								<p>
									<a href="#!" class="text-reset">Ver testimonios</a>
								</p>
								<p>
									<a href="#!" class="text-reset">......</a>
								</p>
							</div>

							<!-- Fin Testimonios -->
							<!-- Inicio Servicios -->
							<div>

								<h6 class="text-uppercase fw-bold mb-4">servicios</h6>
								<p>
									<a href="#!" class="text-reset">Calcular IMC</a>
								</p>
								<p>
									<a href="#!" class="text-reset">Peso ideal</a>
								</p>

							</div>
							<!-- Fin Servicios -->

						</div>

						<!-- Tercer columna -->

						<!-- Inicio Recetas -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							
							<h6 class="text-uppercase fw-bold mb-4">recetas</h6>
							<p>
								<a href="#!" class="text-reset">Carnes</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Ensaladas</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Dulces</a>
							</p>

						</div>
						<!-- Fin Recetas-->

						<!-- Cuarta columna -->

						<!-- Inicio Contacto -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							
							<h6 class="text-uppercase text-light fw-bold mb-4">Contacto</h6>
							<p>
								<a href="#!" class="text-reset">Formulario</a>
							</p>
							<!--             <i class="fas fa-envelope text-light me-3 "></i> -->
							<!--            tudieta@gmail.com -->
							<!-- 		<p></p> -->
							<!--           <p><i class="fas fa-phone text-light me-3 "></i> + 549388123456</p> -->

						</div>
						<!--Fin Contacto -->
					</div>


				</div>
			</section>


			<!-- Derechos footer -->
			<div class="text-center p-2 bg-dark text-light">
				<p>Todos los derechos reservados 2023 - Programación Visual:
					Grupo45</p>
			</div>
			<!-- Fin Derechos footer -->
		</footer>
		<!-- Fin del Footer -->

	</div>
	<!-- Div que envuelve todo el Footer -->

</body>
</html>