<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header th:fragment="header">
		<section class="ftco-section" th:fragment="section">

			<nav
				class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
				id="ftco-navbar">
				<div class="container">
					<a class="navbar-brand" href="index">Dietetica<span>Tienda</span></a>
					<form action="#" class="searchform order-sm-start order-lg-last">

					</form>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#ftco-nav" aria-controls="ftco-nav"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="fa fa-bars"></span> Menu
					</button>
					<div class="collapse navbar-collapse" id="ftco-nav">
						<ul class="navbar-nav m-auto">
							<li class="nav-item active"><a th:href="@{/}"
								class="nav-link">Inicio</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="dropdown04"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Registro</a>
								<div class="dropdown-menu" aria-labelledby="dropdown04">
									<a class="dropdown-item" th:href="@{/index/usuario}">Registrarme</a>
								</div></li>
										<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="dropdown04"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Servicios</a>
								<div class="dropdown-menu" aria-labelledby="dropdown04">
									<a class="dropdown-item" th:href="@{/datosusuarioimc}">Calcular IMC</a>
									<a class="dropdown-item" th:href="@{/pesoideal}">Calcule su peso ideal</a>
								</div></li>
							<li class="nav-item"><a href="#" class="nav-link">Recetas</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Testimonios</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Contáctanos</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Gestión
									de datos</a></li>
						
						</ul>
					</div>
				</div>
			</nav>
		</section>
	</header>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
</body>
</html>
