<!-- nav.html es una fragmento de codigo que se repite en todas las paginas, por eso se la vuelve un layaut-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav class="navbar bg-body-tertiary  d-none d-lg-block"
		th:fragment="nav">
		<!-- Navbar content -->
		<form class="container-fluid justify-content-start">
			<a class="btn btn-outline-success me-2 nav-botones-color"
				th:href="@{/index}">Inicio</a> <a
				class="btn btn-sm btn-outline-secondary me-1 " type="button"
				th:href="@{/productos/listado}">Registrarme</a> <a
				class="btn btn-sm btn-outline-secondary me-1" type="button"
				th:href="@{/consejos}">Consejos</a>

			<div class="dropdown">
				<button
					class="btn btn-sm btn-outline-secondary me-1 dropdown-toggle"
					type="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" th:href="@{/calculoimc}">Calculadora de IMC</a></li>
					<li><a class="dropdown-item" th:href="@{/pesoideal}">Descubre tu peso
							ideal</a></li>

				</ul>
			</div>

			<a class="btn btn-sm btn-outline-secondary me-1" type="button"
				th:href="@{/contacto}">Contacto</a>  <a
				class="btn btn-sm btn-outline-secondary me-1" type="button"
				th:href="@{/n1}">Recetas</a> <a
				class="btn btn-sm btn-outline-secondary me-1" type="button"
				th:href="@{/n2}">Testimonios</a> <a
				class="btn btn-sm btn-outline-secondary me-1" type="button"
				th:href="@{/n3}">Gestion</a>
		</form>
	</nav>

</body>
</html>