<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <title>Receta Saludable</title>
</head>
    <body>
        <div class="container">
            <header th:replace="~{layouts/header :: header}"></header>

            <section class="row justify-content-center container pt-2">
		        
		        <div class="p-4 bg-section rounded-shadom text-center mb-4 col-8 mx-auto">
		        	<h1 class="text-primary display-5 text-center fw-bolder">Bienvenido  Gestión de Datos</h1>
		        	<p class="fw-bold mt-3 text-center">
		        		Aqui podra gestionar los Datos 
		        	</p>
		        	<hr>
		        	<p class="text-center">
		        		Consulte, cree, actualice o elimine sus diferentes datos de forma facil y segura. 
		        	</p>
		        </div>
	        	<div class="p-4 bg-section rounded-shadom text-center mb-4 col-8 mx-auto">
	        		<ul class="nav flex-column">
					  <li class="nav-item btn btn-primary m-1 fs-5 text">
					    <a class="nav-link text-white" aria-current="page" th:href="@{/usuario/listado}">Usuario</a>
					  </li>
					  <li class="nav-item btn btn-primary m-1 fs-5 text">
					    <a class="nav-link text-white" th:href="@{/receta/gestion}">Recetas</a>
					  </li>
					  <li class="nav-item btn btn-primary m-1 fs-5 text">
					    <a class="nav-link text-white" th:href="@{/imc/gestion}">Indice de Masa Corporal</a>
					  </li>
					  <li class="nav-item btn btn-primary m-1 fs-5 text">
					    <a class="nav-link text-white" th:href="@{/testimonio/gestion}">Testimonio</a>
					  </li>
					</ul>
	        	</div>
	   		</section>
        </div>

        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>    
    </body>
</html>