<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
        <title>Gestion de Datos Ingredientes</title>
    </head>
    <body>
        <div class="container">
           	<nav th:replace="~{Layouts/nav :: nav}"></nav>

            <a th:href="@{/receta/gestion}" class="btn btn-primary">Volver Gestion Receta</a>
		    <div class="card " id="card-gestion">
			    <h1 class="card-title text-center">Gestion de Ingredientes</h1>
                <div class="row justify-content-md-center">
                    <div class="col">
                        <a th:href="@{/ingrediente/nuevo}" class="btn btn-success fw-bolder py-3">Nuevo Ingrediente</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                        <table class="table-sm table table-striped table-bordered table-hover">
                            <thead class="bg-secondary text-white">
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Receta</th>
                                    <th>Id-Receta</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="ingrediente: ${ingredientes}">
                                    <td th:text="${ingrediente.id}"></td>
                                    <td th:text="${ingrediente.nombre}"></td>
                                    <td th:text="${ingrediente.receta.nombre}"></td>
                                    <td th:text="${ingrediente.receta.id}"></td>
                                        <td>
                                            <a class="btn btn-info btn-sm"
                                                th:href="@{/ingrediente/modificar/}+${ingrediente.id}">Modificar</a>
                                            <a class="btn btn-danger btn-sm"
                                                th:href="@{/ingrediente/eliminar/}+${ingrediente.id}">Eliminar</a>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layouts/footer :: footer}"></footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>    
    </body>
</html>

